/* CSS BY COREY LONG */

/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT CSS */

:root {
    /* COLORS */
    --Teal: #4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57;
    --Pink: #D9526F;
    --Dark-grey: #1E1E1E; 
    --White: #ffffff;

    /* FONTS */
    --main-font: 'Kavoon', cursive;
    --secondary-font: 'Inter', sans-serif;
}

/* GLOBAL CSS */
html {
    background-color: var(--Lavender);
}

header {
    text-align: center;
    background-color: var(--Purple);
    padding: 2rem 0 0 0;
}

nav {
    background-color: var(--Yellow);
    padding: 1em;
    margin: 3rem -1rem 1rem -1rem;
}

nav h3 {
    font-weight: bold;
    font-style: italic;
    color: var(--Dark-grey);
}

nav a {
    display: block;
    text-decoration: none;
    color: var(--Purple);
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--White);
    padding: 1em;
    margin: .5em;
}

body {
    font-family: var(--secondary-font);
    background-color: var(--Purple);
    margin: 0 auto;
    max-width: 450px;
    padding: 1em 1em;
}

article {
    background-color: var(--White);
    color: var(--Dark-grey);
    padding: 1.5em;
    margin: 1.25em 0;
    border-radius: 8px;
    line-height: 1.5rem;
}

.choose-us-container {
    background-color: var(--Pink);
    padding: 1rem 1em;
    margin: 3rem -1rem 1rem -1rem;
}

.choose-us-container h2 {
    padding-bottom: .5rem;
}

.choose-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em;
    text-align: center;
}

.card-one {
    background-color: var(--Teal);
}

.card-two {
    background-color: var(--Lavender);
}

.card-three {
    background-color: var(--Yellow);
}

.card-four {
    background-color: var(--White);
}
h1, h2 {
    font-family: var(--main-font);
    color: var(--White);
}

h1 {
    font-size: 3em;
}

#slogan {
    color: var(--White);
    margin-top: 0.5em;
}

h2 {
    font-size: 2em;
}

nav h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.5em;
    color: var(--Yellow);
    font-weight: bold;
}

h4 {
    font-size: 1.15em;
    color: var(--Purple);
    font-weight: bold;
    padding: 0.75rem 0;
}